/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 
 /* Color */
 
    #whiteColor{
      color:azure;
      font-size: 20px;
 
    }
 
    #white{
      color:white;
    }
 
     #black{
       background-color: black;
     }
 
     #gray{
       background-color: 	
       #808080;
     }
 
     .modalColor{
       background-color: 	
       #808080;
     }
 
 
    /* Font */
    #sideNavFont{
      
      color: black;
      font-size: 30px;
      font-family: 'Work Sans', sans-serif;
    }
    #Font{
      font-family: 'Work Sans', sans-serif;
    }
 
   #fontBlack{
       color: black;
     }
 
   .font{
     font-family: 'Dosis', sans-serif;
    }
 
 /* Borders */
 
    #bottomBorder{
      border-bottom: 2px solid black;
    }
    #bottomBorderWhite{
      border-bottom: 2px solid white;
    }
 
    #fullBorder{
     outline:solid;
     outline-offset:10px; 
     outline-color: red;
     background-color: black;
    }
 
 
    #margin{
      margin-left: 15px;
    }
 
    