<!DOCTYPE html>
<html>
<head>
  <title>Osman Mendieta-Castro</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   <!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/stylesheets/style.css" type="text/css" rel ="stylesheet">
    
  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
 
 
       
  
</head>

<body>

    <div class="fixed-action-btn">
   
            <!-- Modal Trigger -->
      <a class="waves-effect  btn modal-trigger black" href="#modal1">Info</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content modalColor">
          <div class="row">
              <div class="col s12 m6">
                <img src="assets/images/meh.jpg" width="80%">
              </div>
              <div class="col s12 m6">
                
                  <h5>Email:<a href="mailto:ozmcastro@gmail.com"> ozmcastro@mail.com</a></h5><br>
                
                      <li><a class="white-text" href="https://github.com/catdog990" target="_blank"><img src="assets/images/github-logo.png" height="55"></a></li><br>
                      <li><a class="white-text" href="https://www.linkedin.com/in/osman-mendieta-castro-688732149/" target="_blank"><img src="assets/images/linkedin.png" height="40" id="margin"></a></li><br>
                      <li><a class="white-text" href="https://www.upwork.com/freelancers/~01ca914eccc6c71171" target="_blank"><img src="assets/images/upwork.png" height="90"></a></li><br>
                    
                  
              </div>
              
          </div>
        </div>
       
      </div>
          
  </div>

 
<%# first section of parallax %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
          <h1 class="header center light" >Osman Mendieta-Castro</h1>


        <div class="row center">
          <h5 class="header col s12 light" >
            <span style='color: red' id="bottomBorderWhite" class="font">Full</span>
       
            <span style='color: red' id="bottomBorderWhite" class="font"><strong>Stack</strong></span>
            <span style='color: red' class="font"><strong>Web</strong></span>
            <span style='color: red' class="font">Developer</span>
          

            
          </h5>
        </div>
     
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/SUMthang-logo.jpg" height="100%"></div>
  </div>


  <div class="container" >
    <div class="section" >

      <%# About Section %>

       <div class="row"  id="fullBorder">
       
          <div class="col s12 center">
            <h3><i class="mdi-content-send"></i></h3>
            <h4 id="white" class="font">Whats Up with Me</h4>
            <p class="left-align light font" id="white">What makes a great developer?  This is a question I ask myself everytime I'm working on a new project.  Creativity, patience, and work ethic would probably be some of the things you think I would say.  Now while theses qualities are important, they are not what make a good developer in my opinion.  Constantly learning and having the stones to follow through on your ideas are far more important.  These qualities are what I bring to my projects; I am not afraid to take on projects that involve learning, or push broundaries.</p>
          </div>
        
      </div>

    </div>
  </div>


  <%# Work Examples Section %>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          
        <div class="col s12 m4" id="firstCard">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="novafy.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4 font">Novafy<i class="material-icons right">more_vert</i></span>
                  <p class="font"><a href="https://tranquil-taiga-41568.herokuapp.com/" target="_blank">Take a Strole!</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><p class="font">Novafy is a news article consolodation app.  Aimed for a quick flash of news to stay in the know!</p><i class="material-icons right">close</i></span>
               
                </div>
              </div>  
          </div>

        <div class="col s12 m4" id="secondCard">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../public/images/Right2U.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4 font">Right To You<i class="material-icons right">more_vert</i></span>
                  <p class="font"><a href="https://radiant-river-47116.herokuapp.com/" target="_blank">Click The Link!</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><p class="font">Right to You is a job posting app.  Meant to bring a freelancer's services right to their client's door steps.</p><i class="material-icons right">close</i></span>
                 
                </div>
              </div>  
          </div>

        <div class="col s12 m4" id="thirdCard">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../public/images/macrolite.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4 font">Macro<i class="material-icons right">more_vert</i></span>
                  <p class="font"><a href="https://play.google.com/store/apps/top?utm_source=na_Med&utm_medium=hasem&utm_content=Aug0217&utm_campaign=Evergreen&pcampaignid=MKT-DR-na-us-1000189-Med-hasem-py-Evergreen-Aug0217-Text_Search_BKWS-BidAC2%7cEXA%7cONSEM_kwid_43700023142501811&gclid=Cj0KCQjw-JvaBRDGARIsAFjqkkq1NaFGjA9zXgdNCTj_aPGVTbEfPrfxdTI5jurHweiAaypVFtgAO90aAmykEALw_wcB&gclsrc=aw.ds&dclid=CL7KusStm9wCFUW-TwodKDwHmA" target="_blank">Check the Google Play Store!</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"> <p class="font">Macro is a mobile fitness tracking application.</p><i class="material-icons right">close</i></span>
                 
                </div>
            </div>  
          </div>

        </div>
      </div>
    </div>
    <div class="parallax"><img src="" ></div>
  </div>

<%# Last section of Parallax %>

  <div class="container">
    <div class="section">

      <div id="bottomBorder">
      <h4 class="font">My Ever Expanding Repertoire</h4>
      </div>
      <div class="col s12 m4">
       <div class="row" id="bottomBorder">

          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="../../public/images/handlebars.png"></a>
            <a class="carousel-item" href="#two!"><img src="../../public/images/ejs.png"></a>
            <a class="carousel-item" href="#three!"><img src="../../public/images/mongodb111.png"></a>
            <a class="carousel-item" href="#four!"><img src="../../public/images/mysql.png"></a>
            <a class="carousel-item" href="#five!"><img src="../../public/images/node.png"></a>
            <a class="carousel-item" href="#six!"><img src="../../public/images/firebase.png"></a>
            <a class="carousel-item" href="#seven!"><img src="../../public/images/sass.png"></a>
            <a class="carousel-item" href="#eight!"><img src="../../public/images/html.png"></a>
            <a class="carousel-item" href="#nine!"><img src="../../public/images/css3.png"></a>
            <a class="carousel-item" href="#ten!"><img src="../../public/images/javascript.png"></a>
            <a class="carousel-item" href="#eleven!"><img src="images/aws.png"></a>
            <a class="carousel-item" href="#twelve!"><img src="../../public/images/react.png"></a>
            <a class="carousel-item" href="#thirteen!"><img src="../../public/images/native.png"></a>
          
           </div>
       </div>
       
        
      </div>

    </div>
  </div> 




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light font">Creative, Inovative, and many other key words that make me seem cool</h4>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="../../public/images/fallStick.gif" >
    
      <div class="col s12 m4">
       
          
           
         </div>
    </div>
  </div>


  <%# Footer %>
  
  <footer class="page-footer" id="gray">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-lighten-4 font">Thank you very much for visiting my portfolio.  As I am always working, I am constatly adding to my website.  Check back soon, because chances are, things have changed.</h5>


        </div>
        <div class="col l3 s12">
        
        </div>

        <div class="col l3 s12">
       
          <ul>
            <li><a class="white-text" href="https://github.com/catdog990" target="_blank"><img src="../../public/images/github-logo.png" height="40"></a></li><br>
            <li><a class="white-text" href="https://www.linkedin.com/in/osman-mendieta-castro-688732149/" target="_blank"><img src="../../public/images/linkedin.png" height="25" id="margin"></a></li><br>
            <li><a class="white-text" href="https://www.upwork.com/freelancers/~01ca914eccc6c71171" target="_blank"><img src="../../public/images/upwork.png" height="65"></a></li><br>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" >
      <div class="container">
        &copy 2018 <a class="brown-text text-lighten-3" href=""> Osman Mendieta-Castro</a>
      </div>  
    </div>
  </footer>


  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src ="/app.js"></script>
   

</body>
</html>
